// Переменные для цвета ------------------------------------------------------------------------------------------------
$orange: #FE5A0E;
$black: #1B1A1A;
$white: #fff;
$grey: #E5E5E5;
$dark-grey: #53575A;
$grey-2: #5C717A;
$grey-3: #384656;
$grey-4: #F4F4F2;
$grey-5: #F7F7F6;
$grey-6: #F9F9F9;
$yellow: #FACB00;
$green: #00A44B;


$text-orange: $orange;
$text-black: $black;
$text-white: $white;
$text-grey: $grey;
$text-dark-grey: $dark-grey;
$text-grey-2: $grey-2;
$text-grey-3: $grey-3;
$text-grey-4: $grey-4;
$text-grey-5: $grey-5;
$text-grey-6: $grey-6;
$text-yellow: $yellow;
$text-green: $green;

$border-white: $white;
$border-black: $black;
$border-orange: $orange;
$border-dark-grey: $dark-grey;
$border-grey: $grey;
$border-grey-2: $grey-2;
$border-grey-3: $grey-3;
$border-grey-4: $grey-4;
$border-grey-5: $grey-5;
$border-grey-6: $grey-6;
$border-yellow: $yellow;
$border-green: $green;

$background-white: $white;
$background-black: $black;
$background-grey: $grey;
$background-orange: $orange;
$background-dark-grey: $dark-grey;
$background-grey-2: $grey-2;
$background-grey-3: $grey-3;
$background-grey-4: $grey-4;
$background-grey-5: $grey-5;
$background-grey-6: $grey-6;
$background-yellow: $yellow;
$background-green: $green;
$time: 500ms;

$font-text: 'Montserrat', Arial, Helvetica, sans-serif;